<% include partials/header  %>

<form action="/birthdays" method="POST">
    <input type="text" placeholder="Enter your birthday">
    <input type="submit">
</form>

<a href="/">Back to home</a>

<% include partials/footer  %>